@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");






.my-form {
    height: 100%;
}


.steps-container {
    border-left: 1px solid darkgray;
}

.steps-sub-container {
    padding-left: 11%;
    padding-right: 11%;
}











.card0 {
    background-color: #F5F5F5;
    border-radius: 8px;
    z-index: 0;
}


.card1 {
    margin-left: 140px;
    margin-left: 140px;
    z-index: 0;
    /*border-right: 1px solid #F5F5F5;*/
}

.card2 {
    display: none;
}

.card2.show {
    display: block;
}

input,
select {
    padding: 2px;
    border-radius: 0px;
    box-sizing: border-box;
    color: #9E9E9E;
    border: 1px solid #BDBDBD;
    font-size: 16px;
    letter-spacing: 1px;
    height: 50px !important;
}

select {
    width: 100%;
    margin-bottom: 85px;
}

input:focus,
select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #E53935 !important;
    outline-width: 0 !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #E53935;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
    width: 77%;
}

.form-control-placeholder {
    position: absolute;
    top: 0px;
    padding: 12px 2px 0 2px;
    transition: all 300ms;
    opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 95%;
    top: 10px;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    background-color: #fff;
}





.pic {
    width: 230px;
    height: 110px;
}







/* Next/Previus Button */
.next-button {
    width: 100px;
    cursor: pointer;
}
.next-button:hover {

}
.prev {
    margin-right: 1%;
    width: 100px;
    cursor: pointer;
}
.prev:hover {

}
/* Next/Previus Button */










#progressbar {
    position: absolute;
    left: 35px;
    overflow: hidden;
    color: #E53935;
}

#progressbar li {
    list-style-type: none;
    margin-bottom: 36px;
}

#progressbar li:nth-child(3) {
    
}

#progressbar .step0:before {
    content: "";
    color: #fff;
}






/* Proccess List Sceleton */
#progressbar li:before {
    width: 30px;
    height: 30px;
    /*line-height: 23px;*/
    display: block;
    font-size: 20px;
    background: white;
    border: 1px solid darkgray;
    border-radius: 50%;
    margin: auto;
}
#progressbar li:last-child:before {
    
}
#progressbar li:after {
    content: '';
    width: 2px;
    height: 63%;
    background: darkgray;
    position: absolute;
    left: 54px;
    top: 15px;
    z-index: -1;
}
#progressbar li.active:after {
    background: darkgray;
}
/*active*/
#progressbar li.active:before {
    content: "\f303";
    font-family: "Font Awesome 5 Free";
    background: #00ADC8;
    font-weight: 900;
    color: white;
}
/*one*/
#progressbar li.one:before {
    content: "1";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: gray;
}
#progressbar li.tow:before {
    content: "2";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: gray;
}
#progressbar li.three:before {
    content: "3";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: gray;
}
#progressbar li.four:before {
    content: "4";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: gray;
}
#progressbar li.five:before {
    content: "5";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: gray;
}
/*onec*/
#progressbar li.onec:before {
    content: "1";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    background: #00ADC8;
}

#progressbar li.towc:before {
    content: "2";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    background: #00ADC8;
}

#progressbar li.threec:before {
    content: "3";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    background: #00ADC8;
}

#progressbar li.fourc:before {
    content: "4";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    background: #00ADC8;
}

#progressbar li.fivec:before {
    content: "5";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    background: #00ADC8;
}
/* Proccess List Sceleton */







#progressbar li:last-child:after {
    top: 147px;
    height: 132px;
}

#progressbar li:nth-child(3):after {
    top: 81px;
}

#progressbar li:nth-child(2):after {
    top: 0px;
}

#progressbar li:first-child:after {
    position: absolute;
    top: -81px;
}













@media screen and (max-width: 912px) {

    .card1 {
        border: none;
        margin-left: 50px;
    }

    .card2 {
        border-bottom: 1px solid #F5F5F5;
        margin-bottom: 25px;
    }

    .social {
        height: 30px;
        width: 30px;
        font-size: 15px;
        padding-top: 8px;
        margin-top: 7px;
    }

    .get-bonus {
        margin-top: 40px !important;
        margin-left: 75px;
    }

    #progressbar {
        left: -25px;
    }
}
