@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");


















.card0 {
    background-color: #F5F5F5;
    border-radius: 8px;
    z-index: 0;
}


.card1 {
    margin-left: 63px;
    z-index: 0;
    /*border-right: 1px solid #F5F5F5;*/
}

.card2 {
    display: none;
}

.card2.show {
    display: block;
}











/* Next/Previus Button */
.next-button {
    width: 100px;
    cursor: pointer;
}
.next-button:hover {

}
.prev {
    margin-right: 1%;
    width: 100px;
    cursor: pointer;
}
.prev:hover {

}
/* Next/Previus Button */










#progressbar {
    position: absolute;
    left: 0px;
    overflow: hidden;
    color: #E53935;
}

#progressbar li {
    list-style-type: none;
    margin-bottom: 36px;
}

#progressbar li:nth-child(3) {
    
}

#progressbar .step0:before {
    content: "";
    color: #fff;
}






/* Proccess List Sceleton */
#progressbar li:before {
    width: 30px;
    height: 30px;
    /*line-height: 23px;*/
    display: block;
    font-size: 20px;
    background: white;
    border: 1px solid darkgray;
    border-radius: 50%;
    margin: auto;
}
#progressbar li:last-child:before {
    
}
#progressbar li:after {
    content: '';
    width: 2px;
    height: 63%;
    background: darkgray;
    position: absolute;
    left: 54px;
    top: 15px;
    z-index: -1;
}
#progressbar li.active:after {
    background: darkgray;
}
/*one*/
#progressbar li.one:before {
    content: "1";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: gray;
}
#progressbar li.tow:before {
    content: "2";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: gray;
}
#progressbar li.three:before {
    content: "3";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: gray;
}
#progressbar li.four:before {
    content: "4";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: gray;
}
#progressbar li.five:before {
    content: "5";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: gray;
}
/*onec*/
#progressbar li.onec:before {
    content: "1";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    background: #00ADC8;
}

#progressbar li.towc:before {
    content: "2";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    background: #00ADC8;
}

#progressbar li.threec:before {
    content: "3";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    background: #00ADC8;
}

#progressbar li.fourc:before {
    content: "4";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    background: #00ADC8;
}

#progressbar li.fivec:before {
    content: "5";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    background: #00ADC8;
}
/*active*/
#progressbar li.active:before {
    content: "\f303";
    font-family: "Font Awesome 5 Free";
    background: #00ADC8;
    font-weight: 900;
    color: white;
}
/* Proccess List Sceleton */







#progressbar li:last-child:after {
    top: 147px;
    height: 132px;
}

#progressbar li:nth-child(3):after {
    top: 81px;
}

#progressbar li:nth-child(2):after {
    top: 0px;
}

#progressbar li:first-child:after {
    position: absolute;
    top: -81px;
}









.my-form {
    height: 100%;
}


.steps-container {
    border-left: 1px solid darkgray;
}



.my-form-group {
    padding: 0px;
    margin: 1%;
    text-align: right;
}
.required::before {
    content: "*";
    font-weight: bold;
    color: #00ADC8;
    margin-right: 3px;
}
.details {
    float: left;
    font-size: 10px;
}
.my-lable {
    font-size: 13px;
}
.myinput {
    font-size: 13px;
}
.hidden {
    visibility: hidden;
}



/* Password Tab Instructions */
.cloud-message {
    position: relative;
}
.cloud-message-svg {
    position: absolute;
    left: 150px;
}
.cloud-message-info {
    position: absolute;
    left: 255px;
    top: 25px;
    width: 177px;
}
.warning:after {
    content: "\f06a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: darkred;
    margin-left: 3px;
    color: red;
}
.kendo-header:before {
    content: "\f06a         ";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: darkred;
    margin-left: 3px;
    color: red;
}
/*.cloud-message-info {
    content: "\f06a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: darkred;
    margin-left: 3px;
    color: red;
}*/
/* Password Tab Instructions */
@media screen and (max-width: 912px) {
    .card1 {
        border: none;
        margin-left: 50px;
    }

    .card2 {
        border-bottom: 1px solid #F5F5F5;
        margin-bottom: 25px;
    }



    #progressbar {
        left: -25px;
    }
}
